atomicwrites==1.4.0
attrs==20.3.0
blis==0.7.4
catalogue==2.0.4
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cymem==2.0.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.0.0/fr_core_news_sm-3.0.0-py3-none-any.whl
h11==0.11.0
idna==2.10
iniconfig==1.1.1
murmurhash==1.0.5
numpy==1.20.3
packaging==20.8
pathy==0.5.2
pluggy==0.13.1
preshed==3.0.5
py==1.10.0
pydantic==1.7.3
pyparsing==2.4.7
pytest==6.2.0
requests==2.25.0
smart-open==3.0.0
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
starlette==0.13.6
thinc==8.0.3
toml==0.10.2
torch==1.8.1
torchtext==0.9.1
tqdm==4.61.0
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.2
wasabi==0.8.2