# atomicwrites==1.4.0
# attrs==20.3.0
# blis==0.7.4
# catalogue==2.0.4
# chardet==3.0.4
# cymem==2.0.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.0.0/fr_core_news_sm-3.0.0-py3-none-any.whl
# idna==2.10
# iniconfig==1.1.1
# murmurhash==1.0.5
numpy==1.20.3
# packaging==20.8
# pluggy==0.13.1
# preshed==3.0.5
# py==1.10.0
# pydantic==1.7.3
# pyparsing==2.4.7
pytest==6.2.0
spacy==3.0.6
spacy-legacy==3.0.5
# srsly==2.4.1
# thinc==8.0.3
toml==0.10.2
# to install a lighter version of pytorch:
https://download.pytorch.org/whl/cpu/torch-1.8.1%2Bcpu-cp38-cp38-linux_x86_64.whl
# torch==1.8.1
# torchtext==0.9.1
https://download.pytorch.org/whl/torchtext-0.9.1-cp38-cp38-linux_x86_64.whl
typing-extensions==3.7.4.3
# urllib3==1.26.2
# wasabi==0.8.2